* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    background-color: rgb(228, 57, 45);
    margin: 200px 500px;
    width: 500px;
    height: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 50px 0 30px 0;
}

#heading {
    color: wheat;
    text-align: center;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 50px;
}

.box {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#ramen {
    background-color: wheat;
    text-decoration: none;
    margin: 0 100px 10px 100px;
    width: 250px;
    height: 70px;
    border-radius: 10px;
}

#egg_fried_rice {
    background-color: wheat;
    text-decoration: none;
    margin: 0 100px 10px 100px;
    width: 250px;
    height: 70px;
    border-radius: 10px;
}

#mexican {
    background-color: wheat;
    text-decoration: none;
    margin: 0 100px 20px 100px;
    width: 250px;
    height: 70px;
    border-radius: 10px;
}

.choices a {
    text-decoration: none;
    color: rgb(62, 42, 40);
    display: flex;
    flex-direction: column;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: relative;
}

.choices a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(228, 57, 45);

    transform: scaleX(0);
    transition: transform 250ms ease-in;
}

.choices #ramen a:hover::after {
    transform: scaleX(.2);
}

.choices #egg_fried_rice a:hover::after {
    transform: scaleX(.36);
}

.choices #mexican a:hover::after {
    transform: scaleX(.65);
}

.another {
    display: flex;
    flex-direction: column;
}

.another a {
    text-decoration: none;
    color: wheat;
}