* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden; /* this property and value is to make web page not to move anywhere */
}

.nav {
    background-color: #F24236;
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav img {
    width: 50px;
    height: auto;
    padding-right: 10px;
}

.nav h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding-left: 10px;
}

/* Start of hover line animation */

.recipes a {
    text-decoration: none;
    color: #2A2B2A;
    position: relative;
}

.recipes a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #F24236;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 150ms ease-in;
}

.recipes a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.recipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;

    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.recipes #ramen {
    margin-right: 50px;
}

.recipes #egg_fried_rice {
    margin-left: 50px;
}

/* hiding div elements and show exact one */


/* Display and hide content based on the page class */

.dish {
    display: none;
}

.dish.ramen_page,
.dish.mexican_page,
.dish.egg_page {
    display: block;
}

.dish.hidden {
    display: none;
}


/* Start of ramen page */

.ramen {
    display: flex;
    align-items: top;
    margin-top: 20px;
}

.ramen_origin {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: start;
    margin-left: 100px;
    margin-top: 120px;
}

.ramen_dish img {
    position: relative;
    width: 900px;
    height: auto;
    object-fit: contain;
    transform: rotate(-10deg);
    margin-left: 50px;
    margin-top: 30px;
}

.ramen_page {
    background-image: url(./images/main/ramen_texture.png);
    max-width: 100%;
    height: 500%;
}

.ramen_origin h2 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #F24236;
}

.ramen_origin p {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #2A2B2A;
    text-align: justify;
    line-height: 22px;
    margin-top: 10px;
}

.ramen_origin a {
    color: #ffffff;
    background-color: #F24236;
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 10px;
    
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
}

.ramen_origin a:hover {
    background-color: #2A2B2A;
    color: #FFCA3A;
}

/* Start of Mexican shrimp cocktail */

.mexican_page {
    background-image: url(./images/main/mexican_texture.png);
    height: 1000px;
}

.mexican {
    display: flex;
    align-items: top;
}

.mexican_dish img {
    position: absolute;
    width: 600px;
    height: auto;
}

.mexican_dish {
    width: 600px;
}

.mexican_origin {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    align-items: start;
    margin-top: 100px;
    margin-left: 700px;
}

.mexican_origin h2 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #F24236;
}

.mexican_origin p {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #2A2B2A;
    text-align: justify;
    line-height: 22px;
    margin-top: 10px;
}

.mexican_origin a {
    color: #ffffff;
    background-color: #F24236;
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 10px;
    
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
}

.mexican_origin a:hover {
    background-color: #2A2B2A;
    color: #FFCA3A;
}

/* Egg fried rice page start here */

.egg {
    display: flex;
    align-items: top;
}

.egg_origin {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: start;
    margin-left: 100px;
    margin-top: 150px;
}

.egg_dish img {
    position: absolute;
    width: 1000px;
    height: auto;
    object-fit: contain;
    margin-left: 30px;
    margin-top: 30px;
}

.egg_page {
    background-image: url(./images/main/fried_rice_texture.png);
    max-width: 100%;
    height: 1000px;
}

.egg_origin h2 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #F24236;
}

.egg_origin p {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #2A2B2A;
    text-align: justify;
    line-height: 22px;
    margin-top: 10px;
}

.egg_origin a {
    color: #ffffff;
    background-color: #F24236;
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 10px;
    
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
}

.egg_origin a:hover {
    background-color: #2A2B2A;
    color: #FFCA3A;
}